





.dash-body{
    margin-top: 5rem;
     background-color:#eee; 
     padding: 20px 20px;
     /* width: 1200px; */

}

.container-left{
    width: 250px;
}


.container-right{
    width: 900px;
    /* margin-top: 20px; */
}


.profile{
    padding: 10px;
    /* background-color: antiquewhite; */
    border-bottom: 1px solid gray;

}

.profile img{
    width: 95px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.agent-dash,.seeker-dash,.account-dash{
    border-bottom: 1px solid gray;
    margin: 10px 0;
}

.agent-dash ul,.seeker-dash ul,.account-dash ul,.edit-dash ul{
    padding-left: 39px;
    font-size: 13px;
}
.dash-content{
    margin-left: 30px;
}


.container-right ul{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.container-right .agent-info .colunms .col{
    min-height: 400px;
    border: 1px solid #efefef;
    border-right: 0;
    padding-top: 10px;
}
.container-right .agent-info .colunms .col-projects .col-anchor{
    color: #929191;
}
.container-right .agent-info .colunms .col-projects .col-anchor span{
    font-size: 15px;
    margin-top: 0;
    /* font-weight: 600; */
}
.container-right .agent-info .colunms .col-projects .col-anchor  .col-hd{

    display: block;
    text-align: center;
    font-weight: 600;
    color: rgba(0,0,0,.65);
}
.container-right .agent-info .colunms .col-projects .col-anchor .projects{
    text-align: center;
    color: #2ab4c0;
}

.container-right .agent-info .colunms .col-projects .col-anchor .projects span,
.container-right .agent-info .colunms .col-projects .col-anchor .projects big {
    font-size: 29px;
    margin-right: 5px;
    /* text-align: center; */
    
}

.container-right .agent-info .colunms .col-projects .col-anchor .pro-contant span{
    display: block;
    padding: 10px 10px;
    margin: 0 10px;
    border-bottom: 1px solid #f1eeee;

    
}

.container-right .agent-info .colunms .col-projects .col-anchor .pro-contant big {
    display: inline-block;
    float: right;
}
.container-right .agent-info .colunms .col-projects{
    position: relative;
}
.container-right .agent-info .colunms .col-projects .col-anchor  .view-more{
    position: absolute;
    right: 5px;
    bottom: 10px;
    font-size: 11px;
    font-weight: 600;
}