* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
    --orange:#f75d34;

}

.background {
    
    background-image: url(./background.PNG);
    width: 100%;
    height: 312px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    

}
.searchProperty,.propertyType, .btn, .price {
    display: inline-block;
}
.searchBarbase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 80vw;
    border-radius: 50px;
    height: 60px;
    border: 1px solid var(--orange);
}

.searchProperty {
    display: flex;
    padding-left: 27px;
    color: var(--orange);
    font-size: 22px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}
.searchProperty  input{
    width: 317px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #555;
    font-size: 17px;
    padding-left: 10px;
    caret-color: var(--orange);
    font-family: 'Quicksand', sans-serif;
    
}

.propertyType {
    color: var(--orange);
    font-size: 22px;
    
}
.propertyType select {
    border: none;
    font-size: 16px;
    padding-left: 5 px;
    outline: none;
    transition: 1s;
        
}
.propertyType select:hover{
    color: var(--orange);
}

.price {
    color: var(--orange);
    font-size: 22px;
}

.price select {
    border: none;
    font-size: 16px;
    padding-left: 5 px;
    outline: none;
}
.price select:hover{
    color: var(--orange);
}

.btn {
    font-size: 17px;
    /* font-size: 2px; */
    background-color: var(--orange);
    border-radius: 50px;
    width: 113px;
    color: white;
    padding-left: 16px; 
    margin-right: 5px;
}

.btn button {
    height: 50px;
    /* background-color: var(--orange); */
    border: none;
    /* border-radius: 0px 50px 50px 0px; */
    width: 60px;
    /* font-size: 22px; */
    background-color: transparent;
    color: white;
    font-size: 17px;
    padding-left: 10px;
    
}